@using JabbR;
@using SquishIt.Framework

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <title>iceJabbR</title>

        <link href="@Url.Content("~/Content/images/logo32.png")" rel="icon" type="image/png" sizes="32x32">
        <link href="@Url.Content("~/Content/images/logo64.png")" rel="icon" type="image/png" sizes="64x64">
        <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" sizes="16x16">

        <link href="@Url.Content("~/Content/themes/mobile_default/fries.holo_dark.min.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/themes/mobile_default/layout.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/snap.css")" rel="stylesheet" />

        @RenderSection("Head", required: false);
    </head>

    <body>
        <div class="snap-drawers">
            @RenderSection("Drawers", required: false);
        </div>

        <div id="container" class="page snap-content">
            <header class="action-bar fixed-top">
                <a href="javascript: void(0);" class="app-icon action" data-ignore="true">
                    <img src="@Url.Content("~/Content/images/logo64.png")" />
                </a>
                <h1 class="title">iceJabbR</h1>
            </header>

            @RenderBody()
        </div>
    </body>
</html>