@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LoginViewModel>

@using JabbR;
@using JabbR.ViewModels;
@using System.Linq;
@using SquishIt.Framework

@{
    Layout = "_layout.cshtml"; 
    var hasSocialProviders = Model.SocialDetails.ConfiguredProviders.Any();
}

<form class="inset" action="@Url.Content("~/account/login" + Html.RequestQuery())" method="post">
    @Html.ValidationSummary()

    @Html.TextBox("username", "input-text", @LanguageResources.Account_UserName)
    @Html.Password("password", "input-text", @LanguageResources.Account_Pass)

    <div class="form-actions centered">
        <button class="btn">@LanguageResources.Account_SignIn</button>
    </div>

    @if (Model.AllowUserRegistration || Model.AllowUserResetPassword)
    {
        <div class="form-actions">
            @if (Model.AllowUserRegistration)
            {
                <p>
                    @Html.Raw(String.Format(LanguageResources.Account_RegisterMessage, Url.Content("~/account/register" + Html.RequestQuery())))
                </p>
            }
            @if (Model.AllowUserResetPassword && Model.HasEmailSender)
            { 
                <p>
                    @Html.Raw(String.Format(LanguageResources.Account_ResetPasswordMessage, Url.Content("~/account/requestresetpassword"  + Html.RequestQuery())))      
                </p>   
            }
        </div>
    }
</form>