@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SettingsViewModel>

@using JabbR;
@using JabbR.ViewModels;
@using System.Linq;
@using SquishIt.Framework

@{
    Layout = "views/mobile/_layout.cshtml";
}

@section Head {
    <link href="@Url.Content("~/Content/themes/mobile_default/chat.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/emoji20.css")" rel="stylesheet" />

    <script id="drawer-room-template" type="text/x-jquery-tmpl">
        <li id="tabs-${id}" class="room-item list-item-single-line" data-name="${name}" data-closed="${closed}" data-trimmable="true" role="tab">
            <a>
                <i class="icon-lock lock hide"></i>
                <i class="icon-ban-circle readonly hide"></i>
                <span>${name}</span>
                <button class="close">&times;</button>
            </a>
        </li>
    </script>
    
    <script id="lobby-room-template" type="text/x-jquery-tmpl">
        <li class="room {{if Private}}locked{{/if}} {{if Closed}}closed{{/if}} {{if processedTopic}}list-item-two-lines{{else}}list-item-single-line{{/if}}" data-room="${Name}" data-name="${Name}" data-count="${Count}">
            {{if processedTopic}}
            <h3>${Name}</h3>
            <p class="topic">{{html processedTopic}}</p>
            {{else}}
            ${Name}
            {{/if}}
        </li>
    </script>
    
    <script id="userlist-template" type="text/x-jquery-tmpl">
        <h3 class="userlist-header">${listname}</h3>
        <ul id="${id}" class="list" data-empty-message="@LanguageResources.Client_NoUsersInList"></ul>
    </script>
    
    <script id="user-template" type="text/x-jquery-tmpl">
    </script>
    
    <script id="message-single-template" type="text/x-jquery-tmpl">
        <li class="message ${highlight} clearfix{{if isMine}} my-message{{/if}}{{if showUser}} first{{/if}}" id="m-${id}" data-name="${name}" data-timestamp="${date}" data-mention="${mention}">
            <div class="left">
                {{if showUser}}
                <img src="https://secure.gravatar.com/avatar/${hash}?s=16&d=mm" class="gravatar" />
                {{/if}}
            </div>
            <div class="middle{{if showUser}} first{{/if}}">
                {{html message}}
            </div>
            <div class="right{{if showUser}} first{{/if}}">
                <span id="t-${id}" class="time" title="${fulldate}">${when}</span>
            </div>
        </li>
    </script>
    
    <script id="message-collapsible-template" type="text/x-jquery-tmpl">
    </script>
    
    <script id="message-notification-template" type="text/x-jquery-tmpl">
    </script>
}

@section Drawers {
    <div id="drawer-left" class="snap-drawer snap-drawer-left">
        <div>
            <ul id="room-list" class="list">
                <li class="list-divider">Rooms</li>
                <li id="tabs-lobby" class="room-item current lobby no-close list-item-single-line" data-name="Lobby" data-trimmable="false" role="tab">
                    <a accesskey="l">
                        <span>@LanguageResources.Client_Lobby</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="drawer-right" class="snap-drawer snap-drawer-right">
        <div id="userlist-container"></div>
    </div>
}

<div class="fries-content">
    <div id="chat-area" role="tabpanel">
        <div id="lobby-wrapper">
            <div id="lobby-private">
                <h2 class="userlist-header nav-header">@LanguageResources.Client_YourPrivateRooms</h2>
                <ul id="userlist-lobby-owners" class="list" data-empty-message="@LanguageResources.Client_NoMatchingRooms"></ul>
            </div>
            <div id="lobby-other">
                <h2 class="userlist-header nav-header">@LanguageResources.Client_Rooms</h2>
                <ul id="userlist-lobby" class="list" data-empty-message="@LanguageResources.Client_NoMatchingRooms"></ul>

                <div id="load-more-rooms-item" class="room" style="display:none;">
                    <div class="row-fluid room-row load-more-rooms">
                        <i class="icon-spinner" style="display:none;"></i>
                        <a href="#">@LanguageResources.Client_LoadMore</a>
                    </div>
                </div>
            </div>
            <ul id="messages-lobby" class="messages current" role="log" style="visibility: hidden;"></ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.jabbr = {
        version: '@Model.Version',
        viewMode: 'mobile',
        debug: false,
    };

    window.languageResources = {
        @Html.Raw(Model.ClientLanguageResources)
    };

    @if (Model.DebugMode)
    {
        @: window.jabbr.debug = true;
    }
</script>

@if (Model.DebugMode)
{
    // Load un-optimized require.js module
    @: <script type="text/javascript" src="/App/require.js"></script>
    @: <script type="text/javascript" src="/App/mobile-jabbr.js"></script>
}
else
{
    // Load optimized require.js module
    @: <script type="text/javascript" src="/App/require.js"></script>
    @: <script type="text/javascript" src="/Build/mobile-jabbr.js"></script>
}